* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 153, 0.3),
      rgba(255, 255, 153, 0.3)
    ),
    url(./images/Background-wall.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .parallax {
  
  background-image: linear-gradient(
      rgba(255, 255, 153, 0.3),
      rgba(255, 255, 153, 0.3)
    ),
    url(./images/Background-wall.jpg);

  
  height: 100%;

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.header {
  height: 100%;
  position: relative;
}

/* .Build-Gallery {
  height: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 153, 0.3),
      rgba(255, 255, 153, 0.3)
    ),
    url(./images/Background-wall.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.navbar::before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(
    to right,
    #fafa5e77 0%,
    #fafa5e77 0%,
    #fafa5e77 100%
  );
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 150px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.navbar-toggler {
  border-radius: 0%;
  cursor: pointer;
}

.navbar-nav {
  margin-right: auto;
}

.d-flex {
  justify-content: center;
  height: -100px;
}

.container {
  text-transform: uppercase;
  padding-top: 2px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url(./images/open-menu.svg);
}

.custom-toggler.navbar-toggler {
  border-color: rgb(0, 0, 0);
}
.nav-item a {
  color: #fff;
  font-weight: bold;
}

.container a {
  color: #fff;
  font-weight: bold;
}

.header-section {
  color: white;
  text-align: center;
  /* position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px; 
  margin-left: -250px; */
}

.center-div {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.header-buttons a {
  border: 1px solid;
  color: white;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  font: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.header-buttons a:hover {
  color: #50d1c0;
  background: #fff;
  text-decoration: none;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.gallery-title {
  font-size: 36px;
  color: #42b32f;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}
.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #5e5e5e;
}
.filter-button {
  font-size: 18px;
  border: 1px solid #42b32f;
  border-radius: 10px;
  text-align: center;
  color: #42b32f;
  margin-bottom: 30px;
}
.filter-button:hover {
  font-size: 18px;
  border: 1px solid #42b32f;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #42b32f;
}
.btn-default:active .filter-button:active {
  background-color: #42b32f;
  color: white;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
}

.Filterbuttons {
  padding-left: 150px;
  margin-left: 100px;
  text-align: center;
}
